{% extends "_base.html" %}

{% block body %}

<div class="container">

    {% block breadcrumbs %}
    <ol class="breadcrumb">
       <li><a href="/">Home</a></li>
       {% for bc in this.breadcrumbs[:-1] %}
       <li><a href="{{bc.url}}">{{bc.title}}</a></li>
       {% endfor %}
       {% block breadcrumb %}
       <li class="active">{{this.breadcrumbs[-1].title}}</li>
       {% endblock %}
    </ol>
   {% endblock %}

    {% block title %} 
    <div class="page-header">
        <h1>{{this.title}}</h1>
    </div>
    {% endblock %}


    <div class="content">
      {% block content %}
      <div class="row">
         <div class="col-md-6" data-spy="scroll" data-target="#sidenav" role="main">
           {{this.body}}
         </div>
       {% endblock %}
      </div>
    </div>

    {% include 'footer.html' %}

</div> 

{% endblock %}

